.genres-section {
  padding: 60px 80px;
}

.genres-section h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.genre-card {
  padding: 15px 30px;
  background-color: #1b1b1b;

  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s;

  font-size: 16px;
}

.genre-card:hover {
  background-color: #ff3d3d;
}

@media (max-width: 768px) {
  .genres-section {
    padding: 40px 20px;
  }

  .genres-container {
    justify-content: center;
  }

  .genre-card {
    padding: 12px 20px;
    font-size: 14px;
  }
}